@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0e1117;
  --secondary-color: #161b22;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--primary-color);
  color: white;
}

.bg-secondary {
  background-color: var(--secondary-color);
}
